.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  display: inline-block !important;
  padding: 0.5rem 1rem !important;
  margin: 0.3rem !important;
  font-size: 1.3rem !important;
  min-width: 50px !important;
  height: 50px !important;
  border-radius: 0.5rem !important;
}

.btn:hover {
  background-color: rgb(104, 104, 255) !important;
  color: #fff !important;
}

.backspace-btn {
  display: flex !important;
  justify-content: center !important;
}
